@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('AkzidenzGroteskBQ-Medium.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('AkzidenzGroteskBQ-Bold.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('AkzidenzGroteskBQ-Reg.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('AkzidenzGroteskBQ-LightIt.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('AkzidenzGroteskBQ-Light.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('Canela-Bold.woff2') format('woff2'),
        url('Canela-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('Canela-Light.woff2') format('woff2'),
        url('Canela-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('Canela-Regular.woff2') format('woff2'),
        url('Canela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

